<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='res/AnimaLand-logo.svg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- DO NOT CHANGE ORDER ON THE FOLLOWING -->
    <!-- Dependencies -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/fa/5.15/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/fa/4.7/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='lib/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/bootstrap.min.js') }}"></script>
    <!-- Google font -->
  	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/custom/style.css') }}">
  </head>
  <body>
    <!-- Here goes the SCROLL. Copy on!-->
    <a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
    </a>
    <script src="{{ url_for('static', filename='lib/custom/custom.js') }}"></script>
    <!-- End of SCROLL. Copy off! -->
    <!-- Here goes the HEADER. Copy on! -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('anonymousBlueprint.index') }}">
      <img src="{{ url_for('static', filename='res/AnimaLand-logo-text.svg') }}" height="50" alt="AnimaLand logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {{home_active}}">
            <a class="nav-link" href="{{ url_for('anonymousBlueprint.index') }}">
            Home<span class="sr-only">(current)</span>
          </a>
          </li>
          <li class="nav-item dropdown {{threats_active}}">
            <a class="nav-link dropdown-toggle" href="{{ url_for('anonymousBlueprint.threats') }}" id="actionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Threats
            </a>
            <div class="dropdown-menu" aria-labelledby="actionDropdown">
              <a class="dropdown-item" href="{{ url_for('anonymousBlueprint.threats') }}">All Threats</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('anonymousBlueprint.threats') }}#onPollution">Pollution</a>
              <a class="dropdown-item" href="{{ url_for('anonymousBlueprint.threats') }}#onIntroducedSpecies">Introduced Species</a>
              <a class="dropdown-item" href="{{ url_for('anonymousBlueprint.threats') }}#onGeneticModification">Genetic Modification</a>
              <a class="dropdown-item" href="{{ url_for('anonymousBlueprint.threats') }}#onDeforestationDesertification">Deforestation - Desertification</a>
              <a class="dropdown-item" href="{{ url_for('anonymousBlueprint.threats') }}#onDiseases">Diseases</a>
              <a class="dropdown-item" href="{{ url_for('anonymousBlueprint.threats') }}#onEndangeredSpecies">Endangered Species</a>
            </div>
          </li>
          <li class="nav-item {{targets_active}}">
            <a class="nav-link" href="{{ url_for('anonymousBlueprint.targets') }}">Targets</a>
          </li>
          <li class="nav-item dropdown {{wcid_active}}">
            <a class="nav-link dropdown-toggle" href="{{ url_for('anonymousBlueprint.what_can_i_do') }}" id="threatsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Take Action
            </a>
            <div class="dropdown-menu" aria-labelledby="threatsDropdown">
              <a class="dropdown-item" href="{{ url_for('anonymousBlueprint.what_can_i_do') }}">What Can I Do</a>
              <a class="dropdown-item" href="{{ url_for('anonymousBlueprint.sign_a_petition') }}">Sign A Petition</a>
            </div>
          </li>
          <li class="nav-item {{contact_us_active}}">
            <a class="nav-link" href="{{ url_for('anonymousBlueprint.contact_us') }}">Contact Us</a>
          </li>
          {% if current_user.is_authenticated %}
            {% if current_user.isAdmin %}
              <li class="nav-item">
                <a class="btn btn-success" role="button" href="{{ url_for('authBlueprint.manage_accounts') }}">
                  <img src="{{ url_for('static', filename='res/checked-user-16.png') }}" height="15" alt="Account Icon">Accounts</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="btn btn-success" href="{{ url_for('authBlueprint.logout') }}" role="button">
              <img src="{{ url_for('static', filename='res/sign-out.svg') }}" height="15" alt="Sign in icon">
              {{ current_user.username }}</a>
            </li>

          {% else %}
            <li class="nav-item">
              <a class="btn btn-success" href="{{ url_for('anonymousBlueprint.register') }}" role="button">
              <img src="{{ url_for('static', filename='res/sign-up.svg') }}" height="15" alt="Sign up icon">
              Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-success" href="{{ url_for('anonymousBlueprint.login') }}" role="button">
              <img src="{{ url_for('static', filename='res/sign-in.svg') }}" height="15" alt="Sign in icon">
              Sign In</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- End of HEADER. Copy off! -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category if category in ["danger", "success", "info"] else "info" }} alert-dismissible fade show in m-0" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    <!-- Here goes the FOOTER. Copy on! -->
    <footer class="mainfooter">
      <div class="footer-middle">
        <div class="container">
          <div class="row kyria">
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <h4>About Us</h4>
                <p>We are a greek NGO team and our mision is to inform about the life on land and to encourage humans to take action.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                  <li><a href="{{ url_for('anonymousBlueprint.contact_us') }}">Contact</a></li>
                  <li><a href="{{ url_for('anonymousBlueprint.sign_a_petition') }}">Sign a Petition</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <h4>Contact Us</h4>
                <ul class="list-unstyled">
                  <li><i class="fas fa-map-marker-alt"></i><a href="https://www.google.com/maps/place/%CE%91%CF%81%CE%B9%CF%83%CF%84%CE%BF%CF%84%CE%AD%CE%BB%CE%B5%CE%B9%CE%BF+%CE%A0%CE%B1%CE%BD%CE%B5%CF%80%CE%B9%CF%83%CF%84%CE%AE%CE%BC%CE%B9%CE%BF+%CE%98%CE%B5%CF%83%CF%83%CE%B1%CE%BB%CE%BF%CE%BD%CE%AF%CE%BA%CE%B7%CF%82/@40.6308283,22.9570337,17z/data=!3m1!4b1!4m5!3m4!1s0x14a838ff432792c9:0x15eefe1dc3e6c8e9!8m2!3d40.6308283!4d22.9592224"> Aristotle University, Thessaloniki</a></li>
                  <li><i class="fas fa-phone"></i><a href="#"> +306980808080</a></li>
                  <li><i class="fas fa-envelope"></i><a href="mailto:animaland21@gmail.com"> animaland21@gmail.com</a></li>
                  <li><i class="fab fa-skype"></i><a href="https://join.skype.com/invite/CeFa0pduNUac">   Skype ID</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <h4>Follow Us</h4>
              <ul class="social-network social-circle">
                <li><a href="https://www.facebook.com/AnimaLand21" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/animal-land-71617b210/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/animaland21/?fbclid=IwAR1kIXtEJ6Jf-cyqUUHVgbL97wBoRzK_fd9jpxZIAZtyHyeu8xeN7lsCRgs" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/LandAnima?fbclid=IwAR3wfvFTTvBR3Z5Kfn4lx13zOkw9nTAF-AaJSnPoIYiMseEiCONgt_9Q-QU" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              </ul>
              <div class="newslett">
                <form action="/subscribe" method="post">
                  <input type="hidden" name="b_04285e61d5201add422fde7bd_5109d025a2" tabindex="-1" value="">
                  <h4>Newsletter</h4>
                  <div class="input-group">
                    <label><span class="sr-only">Email</span>
                    <input class="input-group-field" id="email" type="email" placeholder="Email" name="EMAIL" aria-label="Enter email address">
                    </label>
                    <div class="input-group-button">
                      <input type="submit" class="button" value="SUBSCRIBE">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2021 - ΑnimaLand.  All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End of FOOTER. Copy off! -->
  </body>
</html>
