{% extends "base.html" %}
{% block content %}

<div class="container my-auto">
  <div class="container-fluid w-75">
    <div class="row ">
      <div class="col-md-12 col-sm-12">
        <h3 class="py-2">Search Results</h3>
      </div>
    </div>
  </div>
  <hr class="w-75">

  <div class="container-fluid w-75 py-5">
    <div class="row right-image d-flex">
      <div class="col-md-4 col-sm-4 my-auto">
        <img class="img-fluid shadow" src="nature.jpg" alt="the main image of page found">
      </div>

      <div class="col-md-8 col-sm-8">
        <h5 class="py-2">Search result 1</h5>
          <p> Paragraph in which the word found</p>
      </div>
    </div>
  </div>
  <hr class="w-75">

  <div class="container-fluid w-75 py-5">
    <div class="row right-image d-flex">
      <div class="col-md-4 col-sm-4 my-auto">
        <img class="img-fluid shadow" src="nature.jpg" alt="the main image of page found">
      </div>

      <div class="col-md-8 col-sm-8">
        <h5 class="py-2">Search result 2</h5>
          <p> Paragraph in which the word found</p>
      </div>
    </div>
  </div>
  <hr class="w-75">


  <div class="container-fluid w-75 py-5">
    <div class="row right-image d-flex">
      <div class="col-md-4 col-sm-4 my-auto">
        <img class="img-fluid shadow" src="nature.jpg" alt="the main image of page found">
      </div>

      <div class="col-md-8 col-sm-8">
        <h5 class="py-2">Search result 3</h5>
          <p> Paragraph in which the word found</p>
      </div>
    </div>
  </div>
  <hr class="w-75">
 </div>

{% endblock %}
