<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign A Petition</title>
    <link rel="icon" href="res/AnimaLand-logo.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- DO NOT CHANGE ORDER ON THE FOLLOWING -->
    <!-- Dependencies -->
    <link rel="stylesheet" href="lib/css/bootstrap.css">
    <link rel="stylesheet" href="lib/fa/5.15/css/all.css">
    <link rel="stylesheet" href="lib/fa/4.7/css/font-awesome.min.css">
    <script src="lib/js/jquery.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="lib/custom/style.css">
  </head>
  <body>
  <div class="container w-100 py-5">
  <div class="row py-5">
        <div class="col-md-4 col-sm-4">
<div class="petition-signed">
    <a href="save-the-sharks.html">
      <img src="res/shark.jpg" alt="shark" class="image-fluid photo" style="width:100%">
	  <img src="res/tick.png" alt="tick" class="tick" style="width:20%">
         <div class="description">
            <div class="text-center">
              <p>Help save the sharks that are killed by the fishing industry</p>
            </div>
         </div>
    </a>
	   </div>
        </div>
	</div>
	</div>
	  </body>
</html>
	