{% extends "base.html" %}
{% block content %}
  <div id="banner-petition" class="container-fluid w-100">
    <div class="row">
    <div class="col text-center align-middle">
    <h1 id="h1-signPetition">Every sign matters</h1>
    </div>
    </div>
  </div>
  <div class="container w-100 py-5">
    <div class="row">
      <div class="col">
        <h5 class="py-3">The time to take the future in our hands and change the world has come! We are the only one who are able to do that. Everyone is responsible for what is happening right
        now on our planet so you have to take action right now. Get informed about these very important eco issues and sign these petitions.
        </h5>
      </div>
    </div>
    {% for petition in petitions %}
      <div class="row py-5">
        <div class="col-md-4 col-sm-4">
          <div class="petition-signed">
            <a href="/petition/{{ petition.id }}">
              <img src="{{ url_for('static', filename='uploads/res/' + petition.imagePath) }}" alt="" class="image-fluid photo" style="width:100%">
              {% if petition in current_user.signedPetitions %}
              <img src="{{ url_for('static', filename='res/tick.svg') }}" alt="" class="tick" style="width:20%">
              {% endif %}
              <div class="description">
                <div class="text-center">
                  <p>{{ petition.title }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
