{% extends "base.html" %}
{% block content %}
  <div class="container w-100 py-5">
    <div class="row py-5">
      <div class="col-md-4 col-sm-4">
        <div class="petition-signed">
          <a href="save-the-sharks.html">
            <img src="{{ url_for('static', filename='res/shark.jpg') }}" alt="shark" class="image-fluid photo" style="width:100%">
	          <img src="{{ url_for('static', filename='res/tick.png') }}" alt="tick" class="tick" style="width:20%">
            <div class="description">
              <div class="text-center">
                <p>Help save the sharks that are killed by the fishing industry</p>
              </div>
            </div>
          </a>
        </div>
      </div>
  	</div>
	</div>
{% endblock %}
