/*Navbar*/
.navbar {
  background-image: url("https://static5.depositphotos.com/1008855/444/i/600/depositphotos_4446869-stock-photo-white-flower-background.jpg");

    background-color: #F8F8F8;
    border-color:#f2ffe6;
    margin: 0 !important;
    padding: 20px;
    height: 60px;
    /*background-image: url("https://cdn.pixabay.com/photo/2016/04/24/17/27/leaves-1350175_1280.jpg");*/
}
/*Make the animaland red*/
.navbar .navbar-brand{
  color:#003300;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 25px;

}
.navbar .navbar-brand:hover{
  color:green;

}

.navbar .navbar-nav li a{
  color:#003300 !important;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  padding: 5px;
  letter-spacing: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.navbar .navbar-nav li a:hover{
  color:green !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
  color:#003300 !important;
}
/*the distance between the "title" in navbar*/
.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
}

/*Put the navbar title in a specific position in the center*/
.justify-content-center{
  padding-left: 150px;
}
/*.btn{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;    //Specify your width here
}*/

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
  color:green !important;
  background-color:white;

}

.navbar .dropdown-menu{
  width:240px;
  background-image: url("https://static5.depositphotos.com/1008855/444/i/600/depositphotos_4446869-stock-photo-white-flower-background.jpg");


}

/*for the navbar with tabs fix the distance between the titles*/
.navbar .navbar-nav .nav-tabs li a{
  font-size: 15px;
  padding: 5px;
  letter-spacing: 1px;
  padding-right: 25px;
  padding-left: 25px;

}

/*when i click in the choice the color is white*/
.dropdown-item.active, .dropdown-item:active {
  background-color: white;
}
