{%  extends "base.html" %}
{% block content %}
    <!--Banner-->
    <div id="banner-targets" class="container-fluid w-100">
      <div class="row">
        <div class="col text-center align-middle">
          <h1 id="h1-targets">Targets</h1>
        </div>
      </div>
    </div>
    <div class="container my-auto">
      <div class="container-fluid w-75">
        <div class="row ">
          <div class="col-md-12 col-sm-12">
            <p id="intro-trg">Everyone can help to make sure that we meet the Global Goals. Use these twelve targets to create action to protect and restore life on land.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="hr1">
      <!-- Prwth paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row right-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow"  src="res/lily.jpg"
              style="border-radius: 50% 0 50% 50%;"
              alt="waterlilly">
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">Conserve and restore terrestrial and freshwater ecosystems</h3>
            <p>
              By 2020, ensure the conservation, restoration and sustainable use of terrestrial and inland freshwater ecosystems and their services,
              in particular forests, wetlands, mountains and drylands, in line with obligations under international agreements.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Second para-->
      <div class="container-fluid w-75">
        <div class="row left-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive" src="res/autumn.jpg"
              alt="trees"  style="border-radius: 0 50% 50% 50%;">
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">  End deforestation and restore degraded forests </h3>
            <p > By 2020, promote the implementation of sustainable management of all types of forests, halt deforestation,
              restore degraded forests and substantially increase afforestation and reforestation globally.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Trith paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row right-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive"  src="res/landscape1.jpg" alt="terraces"  style="border-radius: 50% 0 50% 50%;"
              >
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">End desertification and restore degraded land</h3>
            <p>
              By 2030, combat desertification, restore degraded land and soil, including land affected by desertification,
              drought and floods, and strive to achieve a land degradation-neutral world.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Tetarth paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row left-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive" src="res/mountains1.jpg"
              alt="mountain"  style="border-radius: 0 50% 50% 50%;">
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">Ensure conservation of mountain ecosystems </h3>
            <p > By 2030, ensure the conservation of mountain ecosystems, including their biodiversity,
              in order to enhance their capacity to provide benefits that are essential for sustainable development.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Pempth paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row right-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive"  src="res/horses.jpg" alt="horses"   style="border-radius: 50% 0 50% 50%;"
              >
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">Protect biodiversity and natural habitats</h3>
            <p>
              Take urgent and significant action to reduce the degradation of natural habitats, halt the loss of biodiversity and,
              by 2020, protect and prevent the extinction of threatened species.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Ekth paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row left-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive" src="res/sheep.jpg" alt="sheep"
              style="border-radius: 0 50% 50% 50%;">
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">Promote access to genetic resources and fair sharing of the benefits</h3>
            <p > Promote fair and equitable sharing of the benefits arising
              from the utilization of genetic resources and promote appropriate access to such resources, as internationally agreed.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Evdomh paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row right-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive"  src="res/bear.jpg" alt="bear"   style="border-radius: 50% 0 50% 50%;"
              >
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">Eliminate poaching and trafficing of protected species</h3>
            <p>
              Take urgent action to end poaching and trafficking of protected species of flora and fauna and address
              both demand and supply of illegal wildlife products.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Ogdooh paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row left-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive" src="res/goose.jpg" alt="goose"
              style="border-radius: 0 50% 50% 50%;">
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">Prevent invasive alien species on land and in water ecosystems </h3>
            <p > By 2020, introduce measures to prevent the introduction and significantly reduce the impact
              of invasive alien species on land and water ecosystems and control or eradicate the priority species.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Enath paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row right-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive"  src="res/lake.jpg" alt="lake"    style="border-radius: 50% 0 50% 50%;"
              >
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">Integrate ecosystem and biodiversity in govermental planning</h3>
            <p>
              By 2020, integrate ecosystem and biodiversity values
              into national and local planning, development processes, poverty reduction strategies and accounts.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Dekath paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row left-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive" src="res/landscape.jpg" alt="nature"
              style="border-radius: 0 50% 50% 50%;">
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">Increase financial resources to conserve and sustainably use ecosystem and biodiversity </h3>
            <p > Mobilize and significantly increase financial resources
              from all sources to conserve and sustainably use biodiversity and ecosystems.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Endekath paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row right-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive"  src="res/forest1.jpg" alt="forest"    style="border-radius: 50% 0 50% 50%;"
              >
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">Finance and incentivize sustainable forest management</h3>
            <p>
              Mobilize significant resources from all sources and at all levels to finance sustainable forest management and provide
              adequate incentives to developing countries to advance such management, including for conservation and reforestation.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr class="w-75">
      <!--Dwdeekath paragrafos me thn eikona-->
      <div class="container-fluid w-75">
        <div class="row left-image d-flex">
          <div class="col-md-4 col-sm-4 text-center my-auto">
            <img class="img-fluid shadow img-responsive" src="res/tiger1.jpg" alt="tiger"
              style="border-radius: 0 50% 50% 50%;">
          </div>
          <div class="col-md-8 col-sm-8 py-5">
            <h3 class="py-2">Combat global paching and trafficking </h3>
            <p > Enhance global support for efforts to combat poaching and trafficking of protected species, including by increasing
              the capacity of local communities to pursue sustainable livelihood opportunities.
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <br><br>
    </div>
    {% endblock %}
