.navbar {
/*  background-image: url("https://static5.depositphotos.com/1008855/444/i/600/depositphotos_4446869-stock-photo-white-flower-background.jpg");*/
    background-color: #F8F8F8;
    border-color:#f2ffe6;
    margin: 0 !important;
    padding: 10px;
    height: 80px;
  }

.navbar .navbar-nav li a{
  color:#003300 !important;
  font-size: 15px;
  padding: 5px;
  letter-spacing: 1px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
}

.navbar .navbar-brand{
  color:#003300;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 15px;
  padding-right:125px;

}
.navbar .navbar-brand:hover{
  color:green;

}
.navbar .navbar-nav li a:hover{
  color:green !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
  color:#003300 !important;
}

/*the distance between the "title" in navbar*/
.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
}
/*
.navbar-nav mx-auto text-center{
  padding-left: 100px;
}*/
.navbar .nav-item .dropdown-menu .dropdown-item:hover{
  color:green !important;
  background-color:white;

}

.navbar .dropdown-menu{
  width:240px;
  /*background-image: url("https://static5.depositphotos.com/1008855/444/i/600/depositphotos_4446869-stock-photo-white-flower-background.jpg");*/
  background-color: white;



}

/*when i click in the choice the color is white*/
.dropdown-item.active, .dropdown-item:active {
  background-color: white;
}

.navbar .nav-item .btn{
  width: 82px;
  height: 33px;
  padding-top: 2px;
  padding-bottom: 2px;

}
.ml-auto{
  padding-top: 0px;
  padding-bottom: 12px;
}
/*for the icons*/
svg {
  height: 30px;
  width: 13px;
  padding-right: 2px;
  padding-bottom:3px;

}
}
