
/* CSS Content for targets and footer*/

/*Targets*/

#banner{
  background: url('https://i.postimg.cc/XJMrKL40/tree-3822149-1920.jpg') no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28em;
}


#h1-targets {
  text-align: center;
  font-size: 5em;
  color:white;
}
/*This is for the spaces on the rows in the targets and threats*/
/*.thr-trg{
  padding-top: 30px;
  padding-bottom: 30px;
}*/


#intro-trg{
  padding-bottom:2px;
    padding-top:15px;
}
@media only screen and (min-width: 576px){
  .right-image {
    flex-direction: row-reverse;
  }
}


/*FOOTER*/

body > footer {
  background: #16222A;
  /*
  background: -webkit-linear-gradient(59deg, #D2B48C, #FFE4C4);
  background: linear-gradient(59deg, #D2B48C, #FFE4C4);*/
  color: white; /*..........den kanei kati*/
  /*margin-top:100px; gia to poso tha apexei apo panw...tha allaksei ennoeitai meta afou tha to valoume sto katw meros*/

}

body > footer a {
  color: #fff;
  font-size: 15px; /*gia ta grammata stis link lists*/
  transition-duration: 0.2s;
}

body > footer a:hover {
  color: #FA944B; /*to portokali xrwma otan akoumpaw sta link lists*/
  text-decoration: none;
}
.kyria{ /*h row (seira) pou exei to content.. thn onomasa gia na morfopoihsw to poso tha apexei apo panw kai katw*/
  padding-bottom: 20px;
}
.newslett{
    padding-top:25px; /*einai gia na apexei to follow us apo to newsletter*/
}
.list-unstyled{
  line-height: 2.2; /*apostash metaksy twn link lists*/
}
.copy { /*katw katw to copyright*/
  font-size: 12px;
  padding: 20px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle { /*gia tous headers morfopoihseis*/
  padding-top: 2em;
  color: white;
}



/*SOCIAL ICONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
.social-network a.icoInstagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-network a.icoTwitter:hover {
  background-color: #00aced;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
