#mainimage {
  padding: 100px;
  background:  url(https://i.postimg.cc/XJMrKL40/tree-3822149-1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#mainimage-text {
  color:white;
  text-align:center;
  font-size:100px;
  filter: nofilter;
}
#intro
{
  text-align: center;
  font-size: 25px;
}

/*vazw tis eikones deksia kai aristera apo to keimeno kai to keimeno sto plai*/
.paraimageleft{
  float: left;
  width: 25.33%;
  /*isws na ths dwsw kai ligo height*/
  padding: 5px;/*nomizw de xreiazetai*/

}
.paraimageright{
  float: right;
  width: 25.33%;
  padding: 5px;
}
.textleftandright{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 30px;
}


body{
  padding-left: 100px;
  padding-right: 100px;
}
/*h paragrafos deksia h aristera ths eikonas:*/
.paratext{
  margin-top: 50px;
  margin-bottom: 70px;
  margin-right: 50px;
  margin-left: 50px;
  font-size:25px;
}

.para{
  border-bottom: 1.5px solid lightgrey;
}
