#banner{
    background: url('res/threats1.jpg')no-repeat center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28em;
}


#h1-threats {
  text-align: center;
  padding-top: 10px;
  font-size: 80px;
  font-space: 1px;
  color: white;

}
 .carousel-caption {
  padding-top: 100px;
}








}
